@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monument Extended';
  src: url('../assets/fonts/MonumentExtended/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('../assets/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HKGrotesk/HKGrotesk-LightLegacy.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HKGrotesk/HKGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HKGrotesk/HKGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



@layer base {
  html {
    font-family: HK Grotesk, system-ui, sans-serif;
  }

  u {
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
  }

  .hover-underline {
    display: inline-block;
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .hero {
    &__space {
      width: 100vw;
      max-width: 100%;
      padding: 0 4vw;
      display: flex;
    }

    &__headline {
      font-size: 8vw;
    }
  }

  .reveal-line {
    height: 1px;
    display: inline-block;
    background: #000;
    margin-bottom: 6px;
  }

  .highlighted {
    &::before {
      background: #f5fc0a;
      background-color: rgb(245, 252, 10);
      content: "";
      height: calc(100% - 4px);
      position: absolute;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .inline-image-wrapper {
    display: inline-block;
    span:first-of-type {
      vertical-align: bottom;
    }
    span > span {
      display: none !important;
    }
  }
}