@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'Inter',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    font-size: clamp(14px, calc(14.00px + 0.00vw), 14px);

    @apply bg-black;
  }

  p, a, span {
    font-weight: 400;
  }

  .grid-item {
    display: grid;
    grid-gap: clamp(4px, calc(-5.09px + 2.42vw), 24px);
    grid-template-columns: repeat(4, 1fr);
    max-width: 1920px;
    width: 100%
  }
}

.to-transparent {
  --tw-gradient-to: transparent;
}